:host {
  background-color: #303030;
  color: white;
  display: flex;
  height: 100vh;
  width: 100vw;
}

mat-card {
  margin: auto;
  width: 434px;
}

form {
  display: flex;
  flex-direction: column;
}