<button class="theme-toggle" mat-icon-button (click)="themeService.toggle()">
  <mat-icon>{{(themeService.isDark$ | async)? 'brightness_7':'brightness_3'}}</mat-icon>
</button>

<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle>Administrators</mat-card-subtitle>
  <mat-card-content>
    <form>
      <mat-form-field appearance="standard">
        <mat-label>User</mat-label>
        <input matInput [formControl]="user">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button type="submit" (click)="submit()" mat-button>Submit</button>
  </mat-card-actions>
</mat-card>