@import 'breakpoints';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-sidenav-container {
  flex-grow: 1;
}

app-menu, main {
  padding-bottom: 116px;
}

main {
  height: 90%;
  overflow-y: auto;
  padding: 20px 50px;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999999999999;
}

.ml-auto {
  margin-left: auto;
}

.center-container {
  padding: 0 100px;
}