

<mat-sidenav-container>
  <mat-sidenav
  [opened]="sidenavService.opened$ | async" 
  (closed)="closeSidenav()" 
  [mode]="(['xs'] | breakpoint | async)? 'over':'side'">
    <app-menu></app-menu>
  </mat-sidenav>
  
  <header>
    <mat-toolbar>
      <ng-container *ngIf="!(sidenavService.opened$ | async)">
        <button mat-icon-button (click)="sidenavService.open()">
          <mat-icon>menu</mat-icon>
         </button>
        <h1>Takichai Backoffice</h1>
      </ng-container>
      <!-- <mat-slide-toggle
      class="example-margin"
      color="accent"
      (change)="$event.checked? themeService.enableDark() : themeService.enableLight()"
      [checked]="themeService.isDark$ | async">
      <mat-icon>{{(themeService.isDark$ | async)? 'brightness_3':'brightness_7'}}</mat-icon>
      </mat-slide-toggle> -->

      <div class="ml-auto">
        <button mat-icon-button (click)="themeService.toggle()">
          <mat-icon>{{(themeService.isDark$ | async)? 'brightness_7':'brightness_3'}}</mat-icon>
        </button>
        <span class="mat-body-strong">Roger Ramos</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="userService.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </div>
   </mat-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

</mat-sidenav-container>