@import 'breakpoints';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-bottom: 24px;
  width: 220px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 16px;
  }

  button {
    align-self: start;
  }
}

@media (min-width: map_get($global-breakpoint, md)) {
  :host {
    width: 280px;
  }
}

@media (min-width: map_get($global-breakpoint, lg)) {
  :host {
    width: 330px;
  }
}